/* style.css */
html {
  height: 100%;
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  text-align: center;
  color: #3a4f41;
  font-size: 18px;
  font-family: "Lora", serif;
  display: flex;
}

.panel-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  color: gray;
  /*justify-content: space-around;*/
  border-right: 1px solid black;
  /*padding: 20px;*/
}

/*.panel-left .instruction{
display: flex;
flex-direction: column;
}*/

.panel-right {
  flex: 1;
  flex-direction: column;
  font-size: 0.8em;
  background-color: #111;
}

/*.panel-bottom {
height: 100px;
text-align: left;
background-color: #222;
bottom: 0;
}

.panel-bottom .slider-img, .panel-bottom .slider-img img {
height: 100px;
}

.panel-left .instruction span{
 font-size: 0.7em;
}

.panel-left .instruction i{
 font-size: 1.5em;
 margin-bottom: 10px;
}*/

/*.panel-main {
flex: 1;
display: flex;
flex-direction: column;
height: 100%; calc(100% - 100px);
}*/

.info-bar-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  background-color: #111; /*rgba(17, 17, 17, 0.6);*/ /*;*/
}

/* .panel-main #image-container{
	flex: 1;
	background-image: url('../img/planetearth.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
} */

#image-container {
  display: none;
  flex: 1;
  /*width: 600px;
height: 400px;
right: 0;
top: 30px;*/
}

#image-container img {
  width: 100%;
  height: 100%;
}

/*#image-container .close{
position: absolute;
right: 5px;
top: 5px;
color: white;
}*/

#image-container .fullscreen {
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
  font-size: 1.5em;
  background-color: black;
  padding: 2px 8px;
}

/*#description-container:fullscreen {
  position: absolute;
  top: 0;
  background-color: rgba (0,0,0,0.6);
  color: red;
}*/

.panel-main #cesiumContainer {
  /*flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;*/
  min-width: 800px;
  min-height: 600px;
  width: 1000px;
  height: 800px;
}

.panel-main #image-container .anim {
  align-self: center;
  justify-self: flex-start;
}

.panel-main .info-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

.panel-main .info-container span {
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #3a4f41;
  font-weight: lighter;
  font-size: 35px;
}
h5 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 25px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #3a4f41;
  font-weight: lighter;
  font-size: 35px;
}
a {
  color: #3a4f41;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#banner {
  text-align: center;
  background-image: url("https://picsum.photos/id/1050/6000/4000");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 50px;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: #3a4f41;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#banner a {
  color: white;
  opacity: 0.8;
  font-size: 30px;
}
#footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
/*.card{
  padding: 50px 0;
  font-weight: lighter;
}*/
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
.fab {
  color: red;
}

.cesium-viewer-bottom {
  display: none;
}

#description-container {
  padding: 30px;
  color: white;
  overflow-y: auto;
  flex: 1;
  text-align: left;
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}

#description-container span {
  overflow-y: auto;
}
